.h6 {
  color: var(--blue-button);
}

.svg {
  width: 10%;
  fill: var(--black-75);
}

.li {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.div {
  margin-left: 1rem;
  width: 90%;
}
