/* main__two-layout-section__slider-section is sliderSection*/

/*fonts */
.slide1__h5 {
  font-size: 1.3rem;
  width: 75%;
  text-transform: capitalize;
  color: white;
}
.slide1__p {
  font-size: 1rem;
  color: var(--black-25);
}

/*slider section*/
.sliderSection {
  height: 140px;
  margin-top: 1.5rem;
}

/*swiper container*/
/*over riding swiper default for zindex*/
.swContainer {
  height: 100%;
  border-radius: 6px;
  z-index: 0 !important;
}

/*temp slides*/
.slideMain {
  cursor: pointer;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
.slide1 {
  background-image: url('/assets/2.JPG');
  background-size: cover;
}
.slide2 {
  background-image: url('/assets/1.png');
  background-size: cover;
}
.slide1__h5 {
  padding: 1rem 1rem;
  color: white;
}
.slide1__p {
  color: white;
  font-weight: lighter;
  padding: 0.5rem 1rem;
}
.slide2 {
  background-image: url('/assets/1.png');
  background-size: cover;
}

@media screen and (min-width: 1200px) {
  .sliderSection {
    width: 40%;
    margin-top: 0;
    height: 200px;
  }

  .slideMain {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-size: auto !important;
  }
  .slide1__h5 {
    font-size: 1.4rem;
  }
  .slide1__p {
    font-size: 1.1rem;
  }
}
