.div {
  margin-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.button {
  width: 48%;
  background-color: #fffbd2;
  color: var(--black-100);
  border: 1px solid var(--black-50);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.3rem 0;
}

.button:hover {
  transition-property: all;
  transition-duration: 0.5s;
  background-color: #ece8bf;
}
.svg {
  width: 1.4rem;
}
.details {
  margin-top: 1rem;
  color: var(--black-100);
  width: 80%;
}

.min {
  margin-top: 0.5rem;
  color: var(--black-100);
}

@media screen and (min-width: 1200px) {
  .div {
    padding-top: 1rem;
    padding-left: 1rem;
    margin-top: 4rem;
    width: 30%;
    height: 30vh;
    max-height: 200px;

    border: 1px solid var(--black-50);
  }
  .button {
    width: 70%;
  }
  .min {
    margin-top: 1.5rem;
  }
}
