@media screen and (min-width: 1200px) {
  .div {
    width: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, auto);
    margin-bottom: 200px;
  }
}

.spinner {
  color: var(--primary-100);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
