/*importing font */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Rubik:wght@300;400;700&display=swap');

/*importing normalize */
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --black-100: #3b3838;
  --black-75: #6c6a6a;
  --black-50: #9d9b9b;
  --black-25: #cecdcd;
  --primary-100: #ff3008;
  --primary-75: #ff6446;
  --primary-50: #ff9783;
  --primary-25: #ffcbc1;
  --primary-hover: #e93612;
  --gray-hover: rgb(240, 234, 234);
  --light-gray: rgb(251 247 247);
  --blue-button: #3465e0;
  --green-button: #2cb637;
  --teal: #119f9f;
}

/*button*/
.btn {
  padding: 0.5rem 1rem;
  border-radius: 6px;
}
.btnPrimary {
  border: 0px;
  background-color: var(--primary-100);
  color: white;
}
.btnOutline {
  background-color: white;
  color: var(--primary-100);
  border: 2px solid var(--primary-100);
}

.btnBlue {
  background-color: var(--blue-button);
}
.btnPrimary:hover {
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.5s;
  background-color: var(--primary-hover);
}

.btnGreen {
  background-color: var(--green-button);
}

.btnOutline:hover {
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.5s;
  background-color: var(--gray-hover);
}

/*swiper js over riding*/

.swiper-container {
  height: 100%;
  border-radius: 6px;
  z-index: 0 !important;
}

/*helper styles*/

.tBold {
  font-weight: bold;
}

.tLight {
  font-weight: lighter;
}

/*16px*/
.tSm {
  font-size: 1rem;
}
/*17px*/
.tM {
  font-size: 1.1rem;
}
/*19px*/
.tLg {
  font-size: 1.2rem;
}
/*20px*/
.tXlg {
  font-size: 1.3rem;
}

/*22px*/
.tXxlg {
  font-size: 1.4rem;
}

.tBlack {
  color: var(--black-100);
}
.tDarkGray {
  color: var(--black-75);
}
.tGray {
  color: var(--black-50);
}
.tLightGray {
  color: var(--black-25);
}

.tPrimary {
  color: var(--primary-100);
}

.tUpperCase {
  text-transform: uppercase;
}

.tCapitalize {
  text-transform: capitalize;
}

.svgBlack {
  fill: var(--black-100);
}

.svgGray {
  fill: var(--black-75);
}

.svgLightGray {
  fill: var(--black-50);
}
.karla {
  font-family: karla;
}
