.sec {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
  margin-bottom: 0.5rem;
  width: 100%;
  background-color: white;
}

.iconDiv {
  display: flex;
}

.changeSpan {
  cursor: pointer;
  letter-spacing: 0.1rem;
}

.addressDiv {
  margin-left: 0.5rem;
}
