/*main__cart-section is cartSection*/

.cartSection {
  display: none;
}

@media screen and (min-width: 1200px) {
  .cartSection {
    display: block;
  }
  .cartSection {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 25%;
    margin-left: 1rem;
  }
  .cartSection__div {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 60%;
  }
  .cartSection__h2 {
    text-align: center;
  }
  .cartSection__p {
    text-align: center;
  }
}
