.sec {
  display: flex;
  width: 100vw;
}

.mobile,
.order {
  text-align: center;
  width: 50%;
  padding: 1rem 0;
  color: white;
  cursor: pointer;
}

.mobile {
  color: var(--blue-button);
  background-color: var(--light-gray);
}

.order {
  background-color: var(--green-button);
}

.mobile:hover {
  background-color: rgb(232 229 229);
}
.order:hover {
  background-color: #119e1d;
}
